<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body>
<nav class="navbar bg-body-tertiary justify-content-end">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{'/empleado/listar'}">Empleados</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Historial</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Reportes</a>
        </li>

    </ul>
</nav>

<div class = "container">
    <h1 class="container text-center">EMPLEADOS TOTALES</h1>
    <a th:href="@{'/empleado/nuevoForm'}">
        <button type="button" class="btn btn-primary m-1">Nuevo Empelado</button>
    </a>
    <form method="post" th:action="@{/empleado/buscar}">
        <input name="searchField" class="form-control mb-3" type="text" placeholder="Search" aria-label="Search">
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Puesto</th>
            <th scope="col">Departamento</th>
            <th scope="col">Ciudad</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th></th>
            <th></th>
        </tr>
        <thead>
        <tbody>

        <tr th:each="empleado: ${lista}">

            <td th:text = "${empleado.employee_id}"></td>
            <td th:text = "${empleado.first_name}"></td>
            <td th:text = "${empleado.last_name}"></td>
            <td th:text = "${empleado.job.job_title}"></td>
            <td th:text = "${empleado.departmento.department_name}"></td>
            <td th:text = "${empleado.departmento.location.city}"></td>


            <td> <a class="btn btn-info" > Editar</a> </td>
            <td> <a class="btn btn-danger"  >Borrar</a> </td>

        </tr>

        </tbody>

    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

</body>
</html>